body, html {
    margin: 0;
    padding: 0;
    width: 100vw; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    overflow-x: hidden; 
    background: var(--white); 
}

.container {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    box-sizing: border-box;
}

.top-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;           
    padding: 30px 120px; 
    background: var(--white);
    width: 1920px; 
    box-sizing: border-box;
    position: absolute; 
    left: 0;
    top: 0; 
}

.title {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.action-buttons {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

a {
    text-decoration: none;
}

.employee, .task {
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.employee {
    background: var(--white);
    border-style: solid;
    border-color: var(--purple-accent-color);
    border-width: 1px;
    gap: 10px;
}

.task {
    background: var(--purple-accent-color);
    gap: 4px;
}

.create-employee, .create-task {
    text-align: left;
    font-family: "FiraGo-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.create-employee {
    color: var(--grey-shades-headlines, #212529);
}

.create-task {
    color: var(--white);
}

.add {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}